{% extends 'base.html' %}

{% block title %}Asignar Usuarios a {{ grupo.nombre }}{% endblock %}

{% block content %}
    <div style="max-width: 600px; margin-left: auto; margin-right: auto;">
        <h1 class="text-center mb-4">Asignar Usuarios a {{ grupo.nombre }}</h1>
        <form method="post" class="card p-4 shadow-sm">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="d-flex justify-content-between">
                <button type="submit" class="btn btn-success">Asignar</button>
                <a href="{% url 'gestionar_grupos' proyecto.id %}" class="btn btn-secondary">Volver</a>
            </div>
        </form>
    </div>
{% endblock %}